{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "react-hooks"],
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "File": true
  },
  "rules": {
    "strict": 0,
    "react-hooks/rules-of-hooks": "error",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "comma-dangle": ["error", "always-multiline"],
    "eol-last": ["error", "always"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "no-underscore-dangle": 0
  }
}
