{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "comma-dangle": ["error", "always-multiline"]
  }
}
